{% extends 'base_layout.html' %}

{% block content %}
<h1>Article List</h1>
<div class="articles">
    {% for article in articles %}
        <a href="{{article.slug}}">
            <div class="article">
           
                <h2>{{article.title}}</h2>
                <p>{{article.snippet }}...</p>
                <div class="meta">
                    <p>{{article.date}}</p>
                    <p class="author">@{{article.author.username}}</p>
                </div>
            </div>
        </a>
    {% endfor %}
</div>

{% endblock %}